.ingredient-page--main-item {
    padding: 15px;
}

.ingredient-page--main-item h2 {
    text-align: center;
}

.ingr--meal-name {
    text-transform: uppercase;
    font-size: 14px;
}

.ingr-box {

}


