

.desc-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.meal-page--hero-spacing {
    margin-top: 20px !important;
}
.meal-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meal-instructions {
    padding: 40px 0;
    max-width: 750px;
    margin: 0 auto;
    font-weight: 300;
}

.meal-instructions h4 {
    padding: 0 0 20px;
}

.ingredients-list--title {
    max-width: 750px;
    margin: 0 auto 20px;
}

.ingredients-wrapper-spacing {
    display: flex;
    justify-content: center;
}

.ingredient-name {
    color: #0a0a0a;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.ingredients {
    margin-bottom: 50px;
}